version: "3.9"
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sqlserver
    ports:
      - "1434:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Admin@12345!
    volumes:
      - F:\DS_DE_PRO\sql-data-warehouse-project\datasets:/datasets